In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url_ozzie = "https://www.baseball-reference.com/players/s/smithoz01.shtml"
response = requests.get(url_ozzie)
html_content = response.content

soup = BeautifulSoup(html_content, "html.parser")

tabla_bateo_ozzie = soup.find("table", {"class": "stats_table"})
if tabla_bateo_ozzie:
    datos_ozzie = []
    encabezados_ozzie = [header.get_text() for header in tabla_bateo_ozzie.find_all("th")]
    encabezados_ozzie = encabezados_ozzie[1:]  

    filas_ozzie = tabla_bateo_ozzie.find_all("tr")
    for fila_ozzie in filas_ozzie[1:]:
        fila_datos_ozzie = {}
        celdas_ozzie = fila_ozzie.find_all(["th", "td"])
        for idx, celda_ozzie in enumerate(celdas_ozzie):
            fila_datos_ozzie[encabezados_ozzie[idx - 1]] = celda_ozzie.get_text() 
        datos_ozzie.append(fila_datos_ozzie)

    df_ozzie = pd.DataFrame(datos_ozzie)
    print(df_ozzie)
else:
    print("No se encontró la tabla de estadísticas de bateo para Ozzie Smith.")

      SDP (4 yrs)   Age       Tm    Lg     G    PA   AB    R    H   2B  ...  \
0            1977    22  SDP-min    A-    68   333  287   69   87   10  ...
1            1978    23      SDP    NL   159   668  590   69  152   17  ...
2            1979    24      SDP    NL   156   649  587   77  124   18  ...
3            1980    25      SDP    NL   158   712  609   67  140   18  ...
4            1981    26      SDP    NL   110   507  450   53  100   11  ...
5            1982    27      STL    NL   140   567  488   58  121   24  ...
6            1983    28      STL    NL   159   626  552   69  134   30  ...
7            1984    29      STL    NL   124   484  412   53  106   20  ...
8            1985    30      STL    NL   158   615  537   70  148   22  ...
9            1986    31      STL    NL   153   609  514   67  144   19  ...
10           1987    32      STL    NL   158   706  600  104  182   40  ...
11           1988    33      STL    NL   153   669  575   80  155   27  ...
12           1989    34      STL    NL   155   664  593   82  162   30  ...
13           1990    35      STL    NL   143   592  512   61  130   21  ...
14           1991    36      STL    NL   150   641  550   96  157   30  ...
15           1992    37      STL    NL   132   590  518   73  153   20  ...
16           1993    38      STL    NL   141   603  545   75  157   22  ...
17           1994    39      STL    NL    98   433  381   51  100   18  ...
18           1995    40      STL    NL    44   182  156   16   31    5  ...
19           1996    41      STL    NL    82   261  227   36   64   10  ...
20         19 Yrs  2573    10778  9396  1257  2460  402   69   28  793  ...
21  162 Game Avg.   162      679   592    79   155   25    4    2   50  ...
22                    G       PA    AB     R     H   2B   3B   HR  RBI  ...
23   STL (15 yrs)  1990     8242  7160   991  1944  338   50   27  664  ...
24    SDP (4 yrs)   583     2536  2236   266   516   64   19    1  129  ...

     OPS OPS+   TB GDP  HBP   SH      SF  IBB   Pos          Awards
0   .753       104        2    3       1                 WWA · NORW
1   .623   82  184  11    0   28       3    0  *6/H           RoY-2
2   .522   48  154  11    2   22       1    5  *6/H
3   .589   71  168   9    5   23       4    1    *6              GG
4   .549   62  115   8    5   10       1    1    *6           AS,GG
5   .653   84  153  10    2    4       5   12  *6/H    AS,MVP-13,GG
6   .657   82  185  10    1    7       2    9  *6/H    AS,MVP-21,GG
7   .684   95  139   8    2   11       3    5    *6           AS,GG
8   .716  101  194  13    2    9       2   11    *6    AS,MVP-18,GG
9   .709   98  171   9    2   11       3   13  *6/H           AS,GG
10  .775  105  230   9    1   12       4    3  *6/H  AS,MVP-2,GG,SS
11  .686   98  193   7    1   12       7    2  *6/H           AS,GG
12  .696   97  214  10    2   11       3    3  *6/H           AS,GG
13  .635   77  156   8    2    7      10    4  *6/H           AS,GG
14  .747  112  202   8    1    6       1    2  *6/H    AS,MVP-20,GG
15  .708  105  177  11    0   12       1    4  *6/H    AS,MVP-22,GG
16  .693   89  194  11    1    7       7    1  *6/H
17  .675   78  133   3    0   10       4    3  *6/H              AS
18  .526   42   38   6    2    5       2    0   6/H              AS
19  .728   94   84   5    2    7       0    0    6H              AS
20   167   33  214  63   79               NaN   NaN             NaN
21    11    2   13   4    5               NaN   NaN             NaN
22   GDP  HBP   SH  SF  IBB  Pos  Awards  NaN   NaN             NaN
23   128   21  131  54   72               NaN   NaN             NaN
24    39   12   83   9    7               NaN   NaN             NaN

[25 rows x 30 columns]

In [4]:
#Aquí solo hizo falta eliminar una sola fila de arriba

df_ozzie = df_ozzie.iloc[1:]
print(df_ozzie)

      SDP (4 yrs)   Age     Tm    Lg     G    PA   AB    R    H   2B  ...  \
1            1978    23    SDP    NL   159   668  590   69  152   17  ...
2            1979    24    SDP    NL   156   649  587   77  124   18  ...
3            1980    25    SDP    NL   158   712  609   67  140   18  ...
4            1981    26    SDP    NL   110   507  450   53  100   11  ...
5            1982    27    STL    NL   140   567  488   58  121   24  ...
6            1983    28    STL    NL   159   626  552   69  134   30  ...
7            1984    29    STL    NL   124   484  412   53  106   20  ...
8            1985    30    STL    NL   158   615  537   70  148   22  ...
9            1986    31    STL    NL   153   609  514   67  144   19  ...
10           1987    32    STL    NL   158   706  600  104  182   40  ...
11           1988    33    STL    NL   153   669  575   80  155   27  ...
12           1989    34    STL    NL   155   664  593   82  162   30  ...
13           1990    35    STL    NL   143   592  512   61  130   21  ...
14           1991    36    STL    NL   150   641  550   96  157   30  ...
15           1992    37    STL    NL   132   590  518   73  153   20  ...
16           1993    38    STL    NL   141   603  545   75  157   22  ...
17           1994    39    STL    NL    98   433  381   51  100   18  ...
18           1995    40    STL    NL    44   182  156   16   31    5  ...
19           1996    41    STL    NL    82   261  227   36   64   10  ...
20         19 Yrs  2573  10778  9396  1257  2460  402   69   28  793  ...
21  162 Game Avg.   162    679   592    79   155   25    4    2   50  ...
22                    G     PA    AB     R     H   2B   3B   HR  RBI  ...
23   STL (15 yrs)  1990   8242  7160   991  1944  338   50   27  664  ...
24    SDP (4 yrs)   583   2536  2236   266   516   64   19    1  129  ...

     OPS OPS+   TB GDP  HBP   SH      SF  IBB   Pos          Awards
1   .623   82  184  11    0   28       3    0  *6/H           RoY-2
2   .522   48  154  11    2   22       1    5  *6/H
3   .589   71  168   9    5   23       4    1    *6              GG
4   .549   62  115   8    5   10       1    1    *6           AS,GG
5   .653   84  153  10    2    4       5   12  *6/H    AS,MVP-13,GG
6   .657   82  185  10    1    7       2    9  *6/H    AS,MVP-21,GG
7   .684   95  139   8    2   11       3    5    *6           AS,GG
8   .716  101  194  13    2    9       2   11    *6    AS,MVP-18,GG
9   .709   98  171   9    2   11       3   13  *6/H           AS,GG
10  .775  105  230   9    1   12       4    3  *6/H  AS,MVP-2,GG,SS
11  .686   98  193   7    1   12       7    2  *6/H           AS,GG
12  .696   97  214  10    2   11       3    3  *6/H           AS,GG
13  .635   77  156   8    2    7      10    4  *6/H           AS,GG
14  .747  112  202   8    1    6       1    2  *6/H    AS,MVP-20,GG
15  .708  105  177  11    0   12       1    4  *6/H    AS,MVP-22,GG
16  .693   89  194  11    1    7       7    1  *6/H
17  .675   78  133   3    0   10       4    3  *6/H              AS
18  .526   42   38   6    2    5       2    0   6/H              AS
19  .728   94   84   5    2    7       0    0    6H              AS
20   167   33  214  63   79               NaN   NaN             NaN
21    11    2   13   4    5               NaN   NaN             NaN
22   GDP  HBP   SH  SF  IBB  Pos  Awards  NaN   NaN             NaN
23   128   21  131  54   72               NaN   NaN             NaN
24    39   12   83   9    7               NaN   NaN             NaN

[24 rows x 30 columns]

In [5]:
df_ozzie= df_ozzie.iloc[:19]
df_ozzie

,SDP (4 yrs),Age,Tm,Lg,G,PA,AB,R,H,2B,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,Pos,Awards
1,1978,23,SDP,NL,159,668,590,69,152,17,...,.623,82,184,11,0,28,3,0,*6/H,RoY-2
2,1979,24,SDP,NL,156,649,587,77,124,18,...,.522,48,154,11,2,22,1,5,*6/H,
3,1980,25,SDP,NL,158,712,609,67,140,18,...,.589,71,168,9,5,23,4,1,*6,GG
4,1981,26,SDP,NL,110,507,450,53,100,11,...,.549,62,115,8,5,10,1,1,*6,"AS,GG"
5,1982,27,STL,NL,140,567,488,58,121,24,...,.653,84,153,10,2,4,5,12,*6/H,"AS,MVP-13,GG"
6,1983,28,STL,NL,159,626,552,69,134,30,...,.657,82,185,10,1,7,2,9,*6/H,"AS,MVP-21,GG"
7,1984,29,STL,NL,124,484,412,53,106,20,...,.684,95,139,8,2,11,3,5,*6,"AS,GG"
8,1985,30,STL,NL,158,615,537,70,148,22,...,.716,101,194,13,2,9,2,11,*6,"AS,MVP-18,GG"
9,1986,31,STL,NL,153,609,514,67,144,19,...,.709,98,171,9,2,11,3,13,*6/H,"AS,GG"
10,1987,32,STL,NL,158,706,600,104,182,40,...,.775,105,230,9,1,12,4,3,*6/H,"AS,MVP-2,GG,SS"
11,1988,33,STL,NL,153,669,575,80,155,27,...,.686,98,193,7,1,12,7,2,*6/H,"AS,GG"
12,1989,34,STL,NL,155,664,593,82,162,30,...,.696,97,214,10,2,11,3,3,*6/H,"AS,GG"
13,1990,35,STL,NL,143,592,512,61,130,21,...,.635,77,156,8,2,7,10,4,*6/H,"AS,GG"
14,1991,36,STL,NL,150,641,550,96,157,30,...,.747,112,202,8,1,6,1,2,*6/H,"AS,MVP-20,GG"
15,1992,37,STL,NL,132,590,518,73,153,20,...,.708,105,177,11,0,12,1,4,*6/H,"AS,MVP-22,GG"
16,1993,38,STL,NL,141,603,545,75,157,22,...,.693,89,194,11,1,7,7,1,*6/H,
17,1994,39,STL,NL,98,433,381,51,100,18,...,.675,78,133,3,0,10,4,3,*6/H,AS
18,1995,40,STL,NL,44,182,156,16,31,5,...,.526,42,38,6,2,5,2,0,6/H,AS
19,1996,41,STL,NL,82,261,227,36,64,10,...,.728,94,84,5,2,7,0,0,6H,AS

In [6]:
df_ozzie_bateo_filtrado = df_ozzie.loc[:, ['G', 'H', 'BA', 'SB', 'OBP']]

df_ozzie_bateo_filtrado

      G    H    BA  SB   OBP
1   159  152  .258  40  .311
2   156  124  .211  28  .260
3   158  140  .230  57  .313
4   110  100  .222  22  .294
5   140  121  .248  25  .339
6   159  134  .243  34  .321
7   124  106  .257  35  .347
8   158  148  .276  31  .355
9   153  144  .280  31  .376
10  158  182  .303  43  .392
11  153  155  .270  57  .350
12  155  162  .273  29  .335
13  143  130  .254  32  .330
14  150  157  .285  35  .380
15  132  153  .295  43  .367
16  141  157  .288  21  .337
17   98  100  .262   6  .326
18   44   31  .199   4  .282
19   82   64  .282   7  .358