In [2]:
import pandas as pd

ruta_excel = r'C:\Users\orlan\Documents\EDA\Smith\defensa_smith.xlsx'
df_smith_defensa = pd.read_excel(ruta_excel)
print(df_smith_defensa)

    Year  Age   Tm Pos  Lg    G   GS   CG     Inn   Ch  ...   DP   Fld%  Rtot  \
0   1978   23  SDP  SS  NL  159  154  137  1327.0  837  ...   98  0.970     3
1   1979   24  SDP  SS  NL  155  153  136  1339.0  831  ...   86  0.976    14
2   1980   25  SDP  SS  NL  158  157  149  1398.1  933  ...  113  0.974    21
3   1981   26  SDP  SS  NL  110  110  105   986.1  658  ...   72  0.976     4
4   1982   27  STL  SS  NL  139  139  136  1249.0  827  ...  101  0.984    21
5   1983   28  STL  SS  NL  158  154  132  1343.2  844  ...  100  0.975    12
6   1984   29  STL  SS  NL  124  124  113  1065.1  682  ...   94  0.982    14
7   1985   30  STL  SS  NL  158  158  149  1407.0  827  ...  111  0.983    20
8   1986   31  STL  SS  NL  144  144  132  1287.0  697  ...   96  0.978    16
9   1987   32  STL  SS  NL  158  153  139  1357.1  771  ...  111  0.987    14
10  1988   33  STL  SS  NL  150  150  138  1329.0  775  ...   79  0.972    18
11  1989   34  STL  SS  NL  153  152  145  1336.1  709  ...   73  0.976    32
12  1990   35  STL  SS  NL  140  137  129  1203.1  602  ...   66  0.980    14
13  1991   36  STL  SS  NL  150  148  126  1253.1  639  ...   79  0.987     3
14  1992   37  STL  SS  NL  132  128  117  1156.1  662  ...   82  0.985    13
15  1993   38  STL  SS  NL  134  131  115  1139.1  721  ...   98  0.974     4
16  1994   39  STL  SS  NL   96   94   85   822.0  434  ...   67  0.982    12
17  1995   40  STL  SS  NL   41   41   34   343.1  196  ...   28  0.964     0
18  1996   41  STL  SS  NL   52   50   48   442.2  260  ...   36  0.969     4

    Rtot/yr  RF/9  RF/G  lgFld%  lgRF9  lgRFG          Awards
0         3  5.51  5.11   0.966   4.88   4.84           RoY-2
1        13  5.45  5.23   0.965   5.00   4.98             NaN
2        18  5.85  5.75   0.966   5.01   5.02              GG
3         5  5.86  5.84   0.960   5.10   5.12           AS,GG
4        21  5.87  5.86   0.967   5.01   5.02    AS,MVP-13,GG
5        10  5.51  5.21   0.967   4.85   4.83    AS,MVP-21,GG
6        16  5.66  5.40   0.965   4.87   4.86           AS,GG
7        17  5.20  5.15   0.963   4.88   4.88    AS,MVP-18,GG
8        15  4.77  4.74   0.963   4.75   4.76           AS,GG
9        12  5.05  4.82   0.965   4.72   4.69  AS,MVP-2,GG,SS
10       16  5.10  5.02   0.967   4.63   4.64           AS,GG
11       29  4.66  4.52   0.966   4.51   4.52           AS,GG
12       14  4.41  4.21   0.967   4.59   4.56           AS,GG
13        3  4.53  4.21   0.966   4.67   4.65    AS,MVP-20,GG
14       13  5.07  4.94   0.969   4.59   4.60    AS,MVP-22,GG
15        4  5.55  5.24   0.965   4.69   4.66             NaN
16       17  4.66  4.44   0.966   4.53   4.50              AS
17        0  4.95  4.61   0.968   4.51   4.49              AS
18       11  5.12  4.85   0.967   4.60   4.57              AS

[19 rows x 23 columns]

In [3]:
df_smith_defensa

,Year,Age,Tm,Pos,Lg,G,GS,CG,Inn,Ch,...,DP,Fld%,Rtot,Rtot/yr,RF/9,RF/G,lgFld%,lgRF9,lgRFG,Awards
0,1978,23,SDP,SS,NL,159,154,137,1327.0,837,...,98,0.970,3,3,5.51,5.11,0.966,4.88,4.84,RoY-2
1,1979,24,SDP,SS,NL,155,153,136,1339.0,831,...,86,0.976,14,13,5.45,5.23,0.965,5.00,4.98,NaN
2,1980,25,SDP,SS,NL,158,157,149,1398.1,933,...,113,0.974,21,18,5.85,5.75,0.966,5.01,5.02,GG
3,1981,26,SDP,SS,NL,110,110,105,986.1,658,...,72,0.976,4,5,5.86,5.84,0.960,5.10,5.12,"AS,GG"
4,1982,27,STL,SS,NL,139,139,136,1249.0,827,...,101,0.984,21,21,5.87,5.86,0.967,5.01,5.02,"AS,MVP-13,GG"
5,1983,28,STL,SS,NL,158,154,132,1343.2,844,...,100,0.975,12,10,5.51,5.21,0.967,4.85,4.83,"AS,MVP-21,GG"
6,1984,29,STL,SS,NL,124,124,113,1065.1,682,...,94,0.982,14,16,5.66,5.40,0.965,4.87,4.86,"AS,GG"
7,1985,30,STL,SS,NL,158,158,149,1407.0,827,...,111,0.983,20,17,5.20,5.15,0.963,4.88,4.88,"AS,MVP-18,GG"
8,1986,31,STL,SS,NL,144,144,132,1287.0,697,...,96,0.978,16,15,4.77,4.74,0.963,4.75,4.76,"AS,GG"
9,1987,32,STL,SS,NL,158,153,139,1357.1,771,...,111,0.987,14,12,5.05,4.82,0.965,4.72,4.69,"AS,MVP-2,GG,SS"
10,1988,33,STL,SS,NL,150,150,138,1329.0,775,...,79,0.972,18,16,5.10,5.02,0.967,4.63,4.64,"AS,GG"
11,1989,34,STL,SS,NL,153,152,145,1336.1,709,...,73,0.976,32,29,4.66,4.52,0.966,4.51,4.52,"AS,GG"
12,1990,35,STL,SS,NL,140,137,129,1203.1,602,...,66,0.980,14,14,4.41,4.21,0.967,4.59,4.56,"AS,GG"
13,1991,36,STL,SS,NL,150,148,126,1253.1,639,...,79,0.987,3,3,4.53,4.21,0.966,4.67,4.65,"AS,MVP-20,GG"
14,1992,37,STL,SS,NL,132,128,117,1156.1,662,...,82,0.985,13,13,5.07,4.94,0.969,4.59,4.60,"AS,MVP-22,GG"
15,1993,38,STL,SS,NL,134,131,115,1139.1,721,...,98,0.974,4,4,5.55,5.24,0.965,4.69,4.66,NaN
16,1994,39,STL,SS,NL,96,94,85,822.0,434,...,67,0.982,12,17,4.66,4.44,0.966,4.53,4.50,AS
17,1995,40,STL,SS,NL,41,41,34,343.1,196,...,28,0.964,0,0,4.95,4.61,0.968,4.51,4.49,AS
18,1996,41,STL,SS,NL,52,50,48,442.2,260,...,36,0.969,4,11,5.12,4.85,0.967,4.60,4.57,AS

In [5]:
df_smith_defensa_filtrado = df_smith_defensa.loc[:, ['Fld%', 'A', 'DP', 'E']]

df_smith_defensa_filtrado

     Fld%    A   DP   E
0   0.970  548   98  25
1   0.976  555   86  20
2   0.974  621  113  24
3   0.976  422   72  16
4   0.984  535  101  13
5   0.975  519  100  21
6   0.982  437   94  12
7   0.983  549  111  14
8   0.978  453   96  15
9   0.987  516  111  10
10  0.972  519   79  22
11  0.976  483   73  17
12  0.980  378   66  12
13  0.987  387   79   8
14  0.985  420   82  10
15  0.974  451   98  19
16  0.982  291   67   8
17  0.964  129   28   7
18  0.969  162   36   8